.example-spacer {
    flex: 1 1 auto;
  }
button{
    border: rgba(255, 255, 255, 0.2) solid 1px;
    transition: .2s;
    margin: .5rem;
}

button:hover{
    background-color: #f1f1f1;
    color: #3f51b5;
}

@media screen and (max-width: 600px) {
    span {
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    span {
        font-size: 16px;
    }
    button{
        font-size: 12px;
        line-height: 26px;
    }
}

@media screen and (max-width: 380px) {
    span {
        font-size: 14px;
    }
    button{
        padding: 0px;
    }
}